body {
    background-image: url(img/body_background.jpg);
    background-repeat: no-repeat;
    background-color: black;   
    padding-top: 70px;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.breadcrumb {
    padding: 15px;
    background: linear-gradient(to right, #ff5859 , #f857a5);
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgba( 247, 217, 99, 0.997 );
}


/* table */
th {
    padding: 10px;  
    color: rgba( 243, 213, 92, 0.997 );
}

td, th {
    text-align: center; 
    vertical-align: middle;
}

ion-icon {
    margin-right: 10px;
    font-size: large;
    color: rgba( 250, 240, 127, 0.422 );
}

thead {
    cursor: pointer;
}

tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}


#custom-scroll::-webkit-scrollbar-track
{
	background-color: rgba( 39, 47, 41, 0.422 );
}

#custom-scroll::-webkit-scrollbar
{
	width: 15px;
	background-color: rgba( 39, 47, 41, 0 );
}

#custom-scroll::-webkit-scrollbar-thumb
{	
   background-color: rgba( 250, 240, 127, 0.22 );
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background-color: rgba( 6, 2, 7, 0.549 );
}

footer span {
    font-size: 19px;
    margin-right: 4px;
}

footer span ion-icon {
    font-size: 45px;
    color: rgba( 254, 88, 106, 0.849 );
}


